$padding-horizontal: 210px;

// Primary Color
$bright-blue: #0071ff;
$dark-indigo: #0f0a4d;
$deep-lilac: #8785a6;
$dusk: #575482;
$dark-slate-blue: #27225f;
$dark-seafoam-green: #3bb273;
$ice-blue: #e6f1ff;
$topaz: #18d1be;
$cloudy-blue: #b7b6ca;
$pale-lilac: #e7e7ed;
$pale-grey: #f9f9fc;

//Shadow
$shadow-1: 0px 10px 50px 0px rgba(77,86,106, 0.73);

//Font sizes
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;
$font-size-xl: 48px;

// Font Names
$font-primary: "SFPro";

//==================================//
// Don't miss with those variabeles //
//==================================//

// Breakpoint
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Black & White
$black: #000000;
$white: #ffffff;

//Font Path
$font-primary-medium-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Medium.ttf";
$font-primary-bold-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Bold.ttf";
$font-primary-regular-path: "../fonts/" + $font-primary + "/" + $font-primary + "-Regular.ttf";

//Font Family
$font-primary-medium: $font-primary + " Medium";
$font-primary-bold: $font-primary + " Bold";
$font-primary-regular: $font-primary + " Regular";