/*=== Import Fonts ===*/
@include font-face($font-primary-medium, $font-primary-medium-path);
@include font-face($font-primary-bold, $font-primary-bold-path);
@include font-face($font-primary-regular, $font-primary-regular-path);
/*=== Typography Styling ===*/
body {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $pale-grey;
}
a {
    &:link {
     text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
     text-decoration: none;
    }
    &:active {
     text-decoration: none;
    }
    cursor: pointer;
}
h3 {
    font-family: $font-primary-medium;
    font-size: 48px;
}
label {
    font-family: $font-primary-medium;
    font-size: 24px;
}
button {
    font-family: $font-primary-bold;
    font-size: 20px;
    font-weight: bold;
}
.medium {
    font-family: $font-primary-medium;
    font-size: 20px;
}
.search {
    font-family: $font-primary-regular;
    font-size: 20px;
}
small {
    font-family: $font-primary-medium;
    font-size: 16px;
}

// How typogrraphy should looks like on mobile version
@include for-size(desktop-down){
            
}
@include for-size(tablet-landscape-down){
    
}
@include for-size(tablet-portrait-down){
    
}
@include for-size(phone-only){
    
}
