/*=== Import Fonts ===*/
@include font-face($font-primary-medium, $font-primary-medium-path);
@include font-face($font-primary-bold, $font-primary-bold-path);
@include font-face($font-primary-regular, $font-primary-regular-path);
/*=== Typography Styling ===*/
body {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $pale-grey;
}
a {
    &:link {
     text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
    &:hover {
     text-decoration: none;
    }
    &:active {
     text-decoration: none;
    }
    cursor: pointer;
}
h3 {
    font-family: $font-primary-medium;
    font-size: 48px;
}
h4 {
    font-family: $font-primary-regular;
    font-size: 32px;
    line-height: 1.34;
}
.label {
    font-family: $font-primary-medium;
    font-size: 24px;
}
.buttonText {
    font-family: $font-primary-bold;
    font-size: 20px;
    font-weight: bold;
}
.medium {
    font-family: $font-primary-medium;
    font-size: 20px;
}
::placeholder {
    font-family: $font-primary-regular;
    font-size: 20px;
}
small {
    font-family: $font-primary-medium;
    font-size: 16px;
}
big {
    font-family: $font-primary-regular;
    font-size: 32px;
    line-height: 0.94;
}
label {
    font-family: $font-primary-regular;
    font-size: 28px;
    line-height: 1.32;
}
.label-2 {
    font-family: $font-primary-medium;
    font-size: 24px;
    line-height: 1.33;
}
.b-text-b {
    font-family: $font-primary-bold;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.35;
}
.b-text-m {
    font-family: $font-primary-medium;
    font-size: 24px;
    line-height: 1.33;
}
.large {
    font-family: $font-primary-regular;
    font-size: 22px;
    line-height: 1.36;
}
.b-text-s {
    font-family: $font-primary-bold;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
}
.b-text-r {
    font-family: $font-primary-regular;
    font-size: 20px;
    line-height: 1.35;
}