@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

body {
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

i {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

svg path {
  -webkit-transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

svg:hover path {
  -webkit-transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
  transition: stroke 300ms ease-in-out, fill 300ms ease-in-out;
}

input,
textarea:focus {
  outline: 0;
}

button:focus {
  cursor: pointer;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/*=== Import Fonts ===*/
@font-face {
  font-family: "SFPro Medium";
  src: url("../fonts/SFPro/SFPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SFPro Bold";
  src: url("../fonts/SFPro/SFPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SFPro Regular";
  src: url("../fonts/SFPro/SFPro-Regular.ttf") format("truetype");
}

/*=== Typography Styling ===*/
body {
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e4e6ea;
  font-family: "SFPro Regular";
}

a {
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

h3 {
  font-family: "SFPro Medium";
  font-size: 48px;
}

.number {
  font-family: "SFPro Regular";
  font-size: 38px;
  line-height: 1.34;
}

h4 {
  font-family: "SFPro Regular";
  font-size: 32px;
  line-height: 1.34;
}

.label {
  font-family: "SFPro Medium";
  font-size: 24px;
}

.buttonText {
  font-family: "SFPro Bold";
  font-size: 20px;
  font-weight: bold;
}

.medium {
  font-family: "SFPro Medium";
  font-size: 20px;
}

::-webkit-input-placeholder {
  font-family: "SFPro Regular";
  font-size: 20px;
}

:-ms-input-placeholder {
  font-family: "SFPro Regular";
  font-size: 20px;
}

::-ms-input-placeholder {
  font-family: "SFPro Regular";
  font-size: 20px;
}

::placeholder {
  font-family: "SFPro Regular";
  font-size: 20px;
}

small {
  font-family: "SFPro Medium";
  font-size: 16px;
}

.big {
  font-family: "SFPro Regular";
  font-size: 32px;
  line-height: 0.94;
}

label {
  font-family: "SFPro Regular";
  font-size: 28px;
  line-height: 1.32;
}

.label-2 {
  font-family: "SFPro Medium";
  font-size: 24px;
  line-height: 1.33;
}

.label-3 {
  font-family: "SFPro Regular";
  font-size: 24px;
  line-height: 32px;
}

.b-text-b {
  font-family: "SFPro Bold";
  font-size: 26px;
  font-weight: bold;
  line-height: 1.35;
}

.b-text-m {
  font-family: "SFPro Medium";
  font-size: 24px;
  line-height: 1.33;
}

.large {
  font-family: "SFPro Regular";
  font-size: 22px;
  line-height: 1.36;
}

.b-text-s {
  font-family: "SFPro Bold";
  font-size: 20px;
  font-weight: bold;
  line-height: 1.35;
}

.b-text-r {
  font-family: "SFPro Regular";
  font-size: 20px;
  line-height: 1.35;
}

.x-small {
  font-family: "SFPro Medium";
  font-size: 18px;
  line-height: 1.33;
}

.input_ {
  height: 51px;
  border-radius: 64px;
  border: solid 1px #b1b3b7;
  padding: 12px 16px;
}

.input_ input {
  all: unset;
  font-size: 20px;
  width: 96%;
}

.tag {
  height: 42px;
  padding: 6px 0;
  background-color: #178fed;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 34px;
}

.s-button {
  all: unset;
  height: 38px;
  border-radius: 34px;
  border: solid 2px #1daefc;
  color: #178fed;
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.s-button::before {
  content: "";
  position: absolute;
  background-color: #1daefc;
  padding: 50%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  opacity: 0;
  -webkit-transition: opacity 700ms, -webkit-transform 700ms;
  transition: opacity 700ms, -webkit-transform 700ms;
  transition: transform 700ms, opacity 700ms;
  transition: transform 700ms, opacity 700ms, -webkit-transform 700ms;
  pointer-events: none;
}

.s-button:active::before {
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.dropdown-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-p label {
  color: #3a3b3c;
}

.dropdown-p select {
  padding: 5px 6px 5px 16px;
  border-radius: 34px;
  border: solid 2px #b1b3b7;
  background-color: #121212;
  color: #b1b3b7;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  outline: none;
  background: url("../icons/svg/dropDown.svg") no-repeat right;
  background-origin: content-box;
}

.dropdown-p select * {
  background-color: #121212;
  font-size: unset;
}

.group-radio {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-radio input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.group-radio .radio-look {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 2px;
  border: solid 3px #b1b3b7;
  border-radius: 50%;
  position: relative;
  margin-right: 21px;
}

.group-radio .radio-look:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.group-radio .radio:checked + .radio-look:after {
  background-color: #178fed;
}

.sideBar {
  background-color: #191919;
  padding-top: 52px;
  z-index: 1;
  position: relative;
  height: 1085px;
}

.sideBar .svgSide {
  display: block;
  margin: 0 28px 45px;
}

.sideBar .svgSide.active #Tracé_14, .sideBar .svgSide.active #Tracé_15, .sideBar .svgSide.active #Tracé_16, .sideBar .svgSide.active #Tracé_17, .sideBar .svgSide.active #Tracé_18 {
  stroke: white;
}

.sideBar .svgSide.active #Tracé_24, .sideBar .svgSide.active #Tracé_33, .sideBar .svgSide.active #Tracé_37 {
  fill: white;
}

.sideBar .svgSide.active circle {
  stroke: white;
  fill: white;
}

.sideBar .svgSide:hover #Tracé_14, .sideBar .svgSide:hover #Tracé_15, .sideBar .svgSide:hover #Tracé_16, .sideBar .svgSide:hover #Tracé_17, .sideBar .svgSide:hover #Tracé_18 {
  stroke: #178fed;
}

.sideBar .svgSide:hover #Tracé_24, .sideBar .svgSide:hover #Tracé_33, .sideBar .svgSide:hover #Tracé_37 {
  fill: #178fed;
}

.sideBar .svgSide:hover circle {
  stroke: #178fed;
  fill: #178fed;
}

.sideBar .linkWrapper {
  position: relative;
}

.sideBar .linkWrapper:hover .linkDesc {
  visibility: visible;
  opacity: 1;
}

.sideBar .linkDesc {
  font-family: "SFPro Regular";
  font-size: 24px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 76px;
  color: #178fed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  z-index: 10;
}

.objectCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 33px;
  padding: 17px 44px 28px 27px;
  border-radius: 22px;
  gap: 10px;
  cursor: pointer;
}

.objectCard:hover {
  background-color: #3a3b3c;
}

.objectCard:hover .objectInfo small {
  color: #178fed;
}

.objectCard:hover span {
  color: #178fed;
}

.objectCard:hover .properties .elem span {
  color: #178fed;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.objectCard:hover .properties .elem .svgKey #Tracé_30 {
  fill: #178fed;
}

.objectCard:hover .properties .elem .svgKey #Tracé_24 {
  fill: #178fed;
}

.objectCard .objectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.objectCard .objectInfo .label {
  margin-bottom: 0 !important;
}

.objectCard .objectInfo small {
  color: #b1b3b7;
}

.objectCard .properties .elem {
  width: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.objectCard .properties .elem span {
  color: #3a3b3c;
  margin-left: auto;
}

.objectCard .properties .adminPanel {
  width: 265px;
}

.objectCard .properties .adminPanel p {
  color: #fd9493;
}

.objectCard .properties .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 100px;
}

.objectCard .properties .people_g {
  gap: 45px;
}

.customCard {
  max-width: 1700px;
  width: 70%;
  padding: 16px 6px 18px 18px;
  border-radius: 32px;
  background-color: #191919;
  height: 90%;
}

.customCard .object-list {
  height: 88%;
  overflow: auto;
  padding-right: 4px;
  -ms-overflow-style: none;
}

.customCard .object-list::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

.customCard .object-list::-webkit-scrollbar-thumb {
  background-color: #3a3b3c;
  border-radius: 32px;
}

.page {
  background-color: #121212;
  border-radius: 75px 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 0px 50px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 98px;
  right: 0;
  bottom: 0;
}

form {
  width: 100%;
  height: 51px;
  margin: 0 0 24px;
  padding: 12px 0px 12px 18px;
  border-radius: 64px;
  border: solid 1px #b1b3b7;
  background-color: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form button {
  all: unset;
  margin-right: 23px;
}

form input {
  all: unset;
  width: 90%;
  font-size: 20px;
}

.pageHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin-bottom: 22px;
}

.pageHeader button {
  height: 42px;
  padding: 6px 12px 9px 13px;
  border-radius: 34px;
  border: solid 2px #2491ea;
  background-color: #191919;
  color: #2491ea;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.pageHeader button::before {
  content: "";
  position: absolute;
  background-color: #2491ea;
  padding: 50%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  opacity: 0;
  -webkit-transition: opacity 700ms, -webkit-transform 700ms;
  transition: opacity 700ms, -webkit-transform 700ms;
  transition: transform 700ms, opacity 700ms;
  transition: transform 700ms, opacity 700ms, -webkit-transform 700ms;
  pointer-events: none;
}

.pageHeader button:active::before {
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.backdrop {
  position: fixed;
  z-index: 100;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content-wrapper_ {
  position: fixed;
  z-index: 500;
  width: 55%;
  height: 85%;
  border-radius: 135px;
  background-color: #191919;
  border: 1px solid;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 75px 33px 75px;
}

.add-many {
  width: 100%;
  height: calc(100% - 113px);
  border-radius: 98px;
  border: solid 4px #1daefc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-many label {
  color: #b1b3b7;
  margin-bottom: 33px;
}

.add-many .or {
  color: #3a3b3c;
  margin-bottom: 33px;
}

.exec-man {
  padding: 23px 33px 18px;
  border-radius: 28px;
  border: solid 2px #ef5350;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exec-man span {
  color: #178fed;
}

.exec-man .full_perm {
  margin-top: 45px;
  margin-bottom: 0;
}

.intro-help {
  text-align: center;
}

.intro-help h3 {
  margin-bottom: 7px;
}

.intro-help .help-subtitle {
  color: #b1b3b7;
  margin-bottom: 25px;
}

.b-button {
  all: unset;
  height: 60px;
  border-radius: 34px;
  border: solid 2px;
  color: #178fed;
  text-align: center;
}

.home {
  max-width: 1700px;
  width: 90%;
  height: 100%;
  border-radius: 75px;
  background-color: #3a3b3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  height: 100vh;
}

.login-container .logo {
  position: absolute;
  top: 41px;
  right: 67px;
}

.login-container .login-page {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 114px;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .Full-Glow-Orb {
  position: absolute;
  top: -29%;
  text-align: center;
  color: #3a3b3c;
}

.login-container .Full-Glow-Orb .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container .login {
  position: absolute;
  top: 50%;
  text-align: center;
}

.login-container .login .log-in {
  padding: 14px 60px;
  border-radius: 50px;
  background-color: #1daefc;
  text-align: center;
  color: #fff;
}

.login-container .login p {
  margin: 18px 0;
  color: #b1b3b7;
}

.login-container .login .sign-up {
  all: unset;
  cursor: pointer;
  color: #178fed;
}

.modal-g {
  height: 100%;
}

.modal-g h3 {
  text-align: center;
}

.modal-g .desc {
  overflow: auto;
  height: calc(100% - 65px);
}

.modal-g .desc::-webkit-scrollbar {
  display: none;
}

.modal-g .desc .parag {
  color: #b1b3b7;
}

.modal-g .desc .form .input-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 54px;
}

.modal-g .desc .form .input-details .group-input:not(:last-child) {
  margin-bottom: 6px;
}

.modal-g .desc .form .input-details .inputs {
  width: 55%;
}

.modal-g .desc .form .input-details .inputs .group-input label {
  color: #3a3b3c;
}

.modal-g .desc .form .input-details .date-g {
  margin-top: 31px;
  margin-left: 68px;
}

.modal-g .desc .form .input-details .date-g p:not(:last-child) {
  margin-bottom: 44px;
}

.modal-g .desc .form .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-g .desc .form .tags .tag-g:not(:last-child) {
  margin-right: 15px;
}

.modal-g .desc .form .tags .tag-g {
  width: 200px;
}

.modal-g .desc .form .g-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-g .desc .form .small-b {
  position: relative;
  width: 133px;
}

.modal-g .desc .form .input-details {
  margin-bottom: 45px;
}

.modal-g .desc .form .input-details .inputs .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.modal-g .desc .form .input-details .type-p {
  margin-left: 50px;
}

.modal-g .desc .form .input-details .type-p .type {
  color: #3a3b3c;
}

.modal-g .desc .form .input-details .type-p .in-radio:not(:last-child) {
  margin-bottom: 10px;
}

.modal-g .desc .form .search-door p {
  color: #b1b3b7;
}

.modal-g .desc .form .tags .tag-p {
  width: 250px;
}

.modal-g .desc .form .c-dropdown {
  width: 185px;
  height: 42px;
  margin-bottom: 22px;
}

.modal-g .h3 {
  margin-bottom: 45px;
}

.modal-g .desc .form .input-details {
  margin-bottom: 0;
}

.modal-g .desc .form .input-details .inputs .building-d {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 13px;
}

.modal-g .desc .form .input-details .inputs .building-d .build {
  width: calc(81% - 15px);
}

.modal-g .desc .form .input-details .inputs .building-d .floor {
  width: 19%;
}

.modal-g .desc .form .map-it label {
  color: #3a3b3c;
}

.modal-g .desc .form .map-it .map {
  border-radius: 42px;
  background-color: #121212;
  padding: 18px 0 31px;
  text-align: center;
  width: 100%;
}

.modal-g .desc .form .map-it .map img {
  cursor: pointer;
}

.modal-g .desc .form .type-buil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 31px;
  margin-bottom: 40px;
}

.modal-g .desc .form .type-buil .in-radio {
  color: #3a3b3c;
}

.modal-g .desc .form .type-buil .in-radio:not(:last-child) {
  margin-bottom: 26px;
}

.modal-g .desc .form .medium-b {
  width: 220px;
}

.modal-g .desc .buil-dropdown {
  width: 100%;
  height: 51px;
}

.modal-g .desc .upload-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-g .desc .upload-layout .upload:not(:last-child) {
  margin-bottom: 24px;
}

.modal-g .desc .upload-layout .upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 51px;
}

.modal-g .desc .upload-layout .upload label {
  min-width: 116px;
}

.modal-g .desc .upload-layout .add-buil {
  width: 50%;
  height: 50px;
  border-radius: 34px;
  border: solid 2px #3a3b3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-g .desc .upload-layout .add-buil button {
  all: unset;
  color: #b1b3b7;
  cursor: pointer;
}

.help-user {
  border: solid 5px #feeb4a;
}

.help-user .permission {
  color: #b1b3b7;
}

.help-user .dont {
  width: 250px;
  color: #e4e6ea;
  border-color: #e4e6ea;
}

.help-user .next {
  width: 133px;
  color: #fec32d;
  border-color: #fec32d;
}
/*# sourceMappingURL=style.css.map */