.modal-g {
    h3 { text-align: center; }
    height: 100%;
    display: flex;
    flex-direction: column;
    .desc {
        overflow: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
    .parag {color: $cool-grey;}
    .form {
            display: flex;
            flex-direction: column;
            flex: 1;
            .input-details {
                display: flex;
                margin-bottom: 54px;
                @include not-last-child('.group-input') {
                    margin-bottom: 6px;
                }
                .inputs {
                    width: 55%;
                .group-input {
                    label { color: $charcoal-grey; }
                        // .input-g{ width: 82%; }
                    } 
                }
                .date-g {
                    margin-top: 31px;
                    margin-left: 68px;
                    @include not-last-child('p') {
                        margin-bottom: 44px;
                    }
                }
            }
            .tags {
                display: flex;
                margin-bottom: 10px;
                @include not-last-child('.tag-g') {
                    margin-right: 15px;
                }
                .tag-g{ width: 200px; }
            }
            .g-container {
                margin: auto auto 0 auto;
            }
            .small-b {
                    position: relative;
                    width: 133px;
            }
        }
    }
}