.login-container {
    background-color: rgb(211, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 100vh;
    .logo {
        position: absolute;
        top: 41px;
        right: 67px;
    }
    .login {
        width: 500px;
        height: 500px;
        border-radius: 114px;
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        text-align: center;
    }
    .log-in {
        width: 300px;
        height: 60px;
        border-radius: 50px;
        background-color: $azure-two;
        text-align: center;
        color: #fff;
    }
    .Full-Glow-Orb{
        // position: absolute;

    }
}
