.modal-g {
    .desc {
        .form {
            .input-details {
                margin-bottom: 45px;
                .inputs {
                    .name {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        gap: 15px;
                    }
                }
                .type-p {
                    .type { color: $charcoal-grey}
                    margin-left: 50px;
                    @include not-last-child('.in-radio') {
                        margin-bottom: 10px; 
                    }
                }
                
            }
            .search-door {
                p {  color: $cool-grey; }
            }
            .tags {.tag-p { width: 250px;}}
            .c-dropdown {
                width: 185px;
                height: 42px;
                margin-bottom: 22px;
            }
        }
    }
} 