.pageHeader {
    @include flex(space-between, center);
    width: 70%;
    margin-bottom: 22px;
    button {
        height: 42px;
        padding: 0 13px;
        border-radius: 34px;
        border: solid 2px $dark-sky-blue;
        background-color: $black;
        color: $dark-sky-blue;
        @include ripple-effect($dark-sky-blue);
    }
}