.container-perm {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 24px;
    margin-bottom: 17px;
    &::after{
        content:"";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 52%;
        border-left: solid 1px $brownish-grey;
        transform: translate(-50%);
    }
    .example {
        display: flex;
        justify-content: center;
        gap: 22px;
        margin-bottom: 22px;
        p{
            margin-bottom: 0;
        }
    }
    p{
        margin-bottom: 0;
        color: $cool-grey;
    }
}