.info-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 26px;
    .info{
        display: flex;
        gap: 15px;
        p {
            color: $cool-grey;
            width: 100px;
            @include for-size(desktop-down){
                width: 70px;
            }
        }
    }
}