.objectCard{
    @include flex( space-between, center);
    width: 100%;
    margin-bottom: 33px;
    padding: 17px 44px 28px 27px;
    border-radius: 22px;
    gap: 10px;
    cursor: pointer;
    &:hover {
        background-color: $charcoal-grey;
        .objectInfo{
            small{
                color: $azure;
            }
        }
        span{
            color: $azure;
        }
        .properties {
            .elem{
                span{
                    color: $azure;
                    transition: color 300ms ease-in-out;
                }
                .svgKey {
                    #Tracé_30{
                       fill: $azure;
                    }
                    #Tracé_24{
                        fill: $azure;
                    }
                }
            }
        }
    }
    .objectInfo {
        display: flex;
        flex-direction: column;
        .label{
            margin-bottom: 0 !important;
        }
        small{
            color: $cool-grey;
        }
    }
    .properties {
        .elem{
            width: 97px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            span{
                color: $charcoal-grey;
                margin-left: auto
                // color: $charcoal-grey;
            }
        }
        .adminPanel{
            width: 265px;
            p{
                color: $peachy-pink;
            }
        }
        .people {
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }
        .people_g{
            gap: 45px;
        }
    }
}