.objectCard{
    @include flex( space-between, center);
    width: 100%;
    margin-bottom: 33px;
    padding: 17px 44px 28px 27px;
    border-radius: 22px;
    // background-color: $charcoal-grey;
    .objectInfo {
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 0 !important;
        }
        small{
            color: $cool-grey;
        }
    }
    .properties {
        .elem{
            width: 97px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            span{
                color: $charcoal-grey;
                margin-left: auto
                // color: $charcoal-grey;
            }
        }
        .people {
            display: flex;
            justify-content: space-between;
            gap: 40px;
        }
    }
}