.list-info {
    @include flex(space-between, center);
    gap: 15px;
    @include not-last-child('.obj') {
        margin-bottom: 13px;
    }
    .p{
        width: 60px !important;
    }
    .profil-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            border: solid 3px $azure-two;
            padding: 11px;
            border-radius: 50%;
            margin-bottom: 6px;
        }
    }
}
