.req-infos-for{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 13px;
    .floor-layout {
        position: relative;
        cursor: pointer;
        p {
            font-family: $font-primary-regular;
            font-weight: normal;
            color: $cool-grey;
            position: absolute;
            left: 13%;
            right: 0;
            top: 35%;
        }
    }
}
