.req-desc{
    width: 100%;
    padding: 11px 26px;
    border-radius: 25px;
    background-color: $black-two;
    margin-top: 84px;
    height: 240px;
    margin-bottom: 10px;
    p{
        color: $sky-blue;
        
    }
} 